id: linkedin
url: http://mautrix-linkedin:29341
as_token: "CHANGEME_AS_TOKEN"
hs_token: "CHANGEME_HS_TOKEN"
sender_localpart: "CHANGEME_SENDER_LOCALPART"
rate_limited: false
namespaces:
    users:
        - regex: ^@linkedinbot:hanzpo\.com$
          exclusive: true
        - regex: ^@linkedin_.*:hanzpo\.com$
          exclusive: true
de.sorunome.msc2409.push_ephemeral: true
receive_ephemeral: true
